*{
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #1f1f1f;
    margin: 0;
}

nav{
    display: flex;
    animation: nav 1.3s ease-in-out;
    height: 90px;
}



@keyframes nav {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* menu deroulant */

.deroulant{
    width: 50px;
    margin: 20px;
    visibility: hidden;
    rotate: -180deg;
    transition: all 0.5s ease-in-out;
}

.animation{
    rotate: 180deg;
    transition: all 0.5s ease-in-out;
}

.cacher{
    display: none;
}

.deroulant:hover{
    cursor: pointer;
}


/* menu */



ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 32px;
    margin-bottom: 32px;
}

li{
    position: relative;
    cursor: pointer;
    margin: auto;

    margin: 30px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

li a{
    color: white;
}

li::before {
    content: '';
    position: absolute;
    bottom: -5px;
    height: 2px;
    width: 100%;
    background: white;
    transform: scale(0, 0);
    transition: 0.5s ease;
} li:hover::before {
    transform: scale(1, 1);
}

.navbar{
    transition: all 0.5s ease-in-out;
}


h1{
    text-transform: uppercase;
    color: white;
    letter-spacing: 2.5px;
    text-align: center;
    margin: 50px;
    font-size: 2.2vw;

    overflow: hidden;
}

#h12{
    font-size: 1.8vw;
}

span{
    animation: titre 1s ease-in-out forwards;
    display: inline-block;
    animation-delay: 0.8;
}

@keyframes titre {
    0%{
        transform: translateY(+100%);
    }
    100%{
        transform: translateY(0%);
    }
}

main{
    display: flex;
}

.test{
    flex-basis: 33%;
    flex-grow: 1;
    margin: 10px;
    height: 60vh;
}

.test{
    overflow: hidden;
}

#div1{
    animation: titre 1s ease-in-out;
}


#div2{
    animation: titre 1s ease-in-out;
    animation-delay: 0.1s;
}

#div3{
    animation: titre 1s ease-in-out;
    animation-delay: 0.3s;
}

div img{
    opacity: 0.7;
    transition: all .3s ease-in-out;
}

.test:hover div img{
    opacity: 1;
}


/* profil */

.profil{
    display: none;
}

.profil div{
    color: white;
}


.competence div{
    color: white;
}

.competence{
    display: none;
}


.projets{
    display: none;
}

.afficher{
    display: block;
}

.projets div{
    color: white;
}


#btnHautDePage {
    /* Autres styles du bouton */
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white; /* Couleur de fond du bouton (noir) */
    border-radius: 5px;
    padding: 5px;
    opacity: 0.5; /* Opacité du bouton */
    cursor: pointer; /* Curseur de souris au survol du bouton */
    transition: all 0.3s ease-in-out, transform 0.3s ease-in-out; /* Transitions pour l'effet de survol */
    width: 30px;
  }

  
  #btnHautDePage:hover {
    opacity: 1; /* Opacité du bouton au survol */
    transform: scale(1.1); /* Effet de zoom au survol du bouton */
  }
  
  
/* responsive */

@media (max-width:730px){
    main{
        display: block;
    }

    .navbar {
        position: absolute;
        width: 100%;
        top: 0;
        background-color: rgba(255, 255, 255, 0.20);
        height:100vh;
        backdrop-filter: blur(7px);
        display: flex;
        justify-content: center;
        margin-left: -100%;
    }
    nav{
        border-bottom: none;
    }
    .mobile-menu{
        margin-left: 0;
    }
    .deroulant{
        visibility: visible;
        position: absolute;
        top: 0;
    }
    .navbar ul{
        flex-direction: column;
    }
    li{
        color:#26272b;
        margin: 10px;
        font-size: 1.2em;
    }
}