*{
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #1f1f1f;
    margin: 0;
}

nav{
    display: flex;
    animation: nav 1s ease-in-out;
}



@keyframes nav {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#navbar{
    display: flex;
    margin: 0;
}

#navbar li{
    margin: 30px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    cursor: pointer;
    position: relative;
}

li::before {
    content: '';
    position: absolute;
    bottom: -5px;
    height: 2px;
    width: 100%;
    background: white;
    transform: scale(0, 0);
    transition: 0.6s ease;

} li:hover::before {
    transform: scale(1, 1);
}



header h1{
    text-transform: uppercase;
    color: white;
    letter-spacing: 2.5px;
    text-align: center;
    margin: 50px;
    font-size: 2.2vw;

    overflow: hidden;
}

#h12{
    font-size: 1.8vw;
}

span{
    animation: titre 1s ease-in-out forwards;
    display: inline-block;
    animation-delay: 0.8;
}

@keyframes titre {
    0%{
        transform: translateY(+100%);
    }
    100%{
        transform: translateY(0%);
    }
}

main{
    display: flex;
}

div{
    flex-basis: 33%;
    flex-grow: 1;
    margin: 10px;
    height: 60vh;
}

#test{
    overflow: hidden;
}

#div1{
    animation: titre 1s ease-in-out;
}

#test:hover .hovercacher{
    display: none;
}

#test:hover{
    border: solid thin white;
    background-color: #333;
}

.cacher{
    color: white;
    text-align: center;
}

.cacher h1{
    text-transform: uppercase;
}

.plus{
    border: solid thin white;
    border-radius: 20px;
    height: auto;
    width: 100px;
    padding: 5px;
    transition: .5s ease-in-out;
    margin-left: auto;
    margin-right: auto;
}

.plus a{
    color: white;
}

.plus:hover {
    background-color: white;
    transform: scale(1.1);
}

.plus:hover a{
    color: #1f1f1f;
}

#div2{
    animation: titre 1s ease-in-out;
    animation-delay: 0.1s;
}

#div3{
    animation: titre 1s ease-in-out;
    animation-delay: 0.3s;
}


/* responsive */

@media (max-width:730px){
    main{
        display: block;
    }
}